---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest?api_key=liN2KeVl9tkuoZBViRgcLqxEUN6zMjZcD6QWnoiD&format=json&fuel_type=ELEC,LPG&limit=10&location=80207&radius=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '978'
      Last-Modified:
      - Wed, 13 Dec 2017 18:11:18 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.759574,"longitude":-104.919835,"precision":{"value":5,"name":"postal_code","types":["postal_code"]},"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":78,"station_counts":{"total":185,"fuels":{"E85":{"total":0},"ELEC":{"total":178,"stations":{"total":71}},"HY":{"total":0},"LNG":{"total":0},"BD":{"total":0},"CNG":{"total":0},"LPG":{"total":7}}},"offset":0,"fuel_stations":[{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2017-12-13","expected_date":null,"fuel_type_code":"ELEC","id":78237,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"THE
        GROVE","station_phone":"888-758-4389","updated_at":"2017-12-13T09:27:48Z","geocode_status":"GPS","latitude":39.7598071,"longitude":-104.8971994,"city":"Denver","intersection_directions":"THE
        GROVE; -","plus4":null,"state":"CO","street_address":"2980 Syracuse St","zip":"80238","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.chargepoint.com/","ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"posts":["1:124257"]},"distance":1.20538},{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2017-12-13","expected_date":null,"fuel_type_code":"ELEC","id":74993,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"DMNS
        EVSE SYS","station_phone":"888-758-4389","updated_at":"2017-12-13T09:14:11Z","geocode_status":"GPS","latitude":39.7490158,"longitude":-104.9438153,"city":"Denver","intersection_directions":"DMNS
        EVSE SYS[...]
